/*Login*/
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
} 
body{
	background:/*#1cb08e*/#17a2b8!important; /*url(images/bg.png) no-repeat;*/
	background-size: 100%;
}


.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  color: #fff;
    font-weight: bold;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  /*transition: all 0.2s;*/
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  /*transition: all .1s ease-in-out;*/
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white!important;
  background-color: #ea4335!important;
}

.btn-facebook {
  color: white!important;
  background-color: #3b5998!important;
}
.login-box{margin-top:115px!important;margin-left:10px!important;}

.login-box1{margin-top:150px!important;}
.login-box2{margin-top:150px!important;}
.card-body{background: #000;
    border: 5px solid #ffff;}
label{color: #fff;}
.login-box1 img{height:500px!important;width:500px!important;}
.login-box2 img{height: 500px!important;
    width: 251px!important;
    position: absolute;
    top: -77px;
    left: 25px;}
 .login-box3 img{width: 225px;
    height: auto;
    position: absolute;
    right: 52px;
    top: 56px;}
.bottom_links a{color:#fff;}
.bottom_links{color:#fff;font-size:13px;}
.left{float:right;}
a:hover{color:yellow!important;}
.home_icon{float: right;
    position: relative;
    left: -9%;
    top: 31px;
    cursor: pointer;transition: all 0.15s ease;}
.home_icon .fa{color: #fff;font-size: 20px;}
.alert_msg{position: relative;
    top: 109px;text-align: center;
    font-weight: bold;margin: 0 auto;}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

/*Login-------------------------------------------------------*/

/*signup*/

.bg{background: url(../images/signup-bg.jpg) no-repeat!important;
background-size: 100% 100%!important;}
.admin_signup img{width: 480px;
    margin-top: 203px;}
    .admin-box{margin-left:150px!important;margin-top:115px!important;}


/*signup------------------------------------------------------*/



/*homepage*/
.topbar{background:#385D99;height: 10px;width:100%;}
.fbla-header-menubar-bg{background: url(../images/top_nav_bg.png) left center repeat;padding:15px;width:100%;}
.left_menubar{width:50%;display:inline-block;}
.left_menubar h1,.logo-holder h1{color: #385D99;font-size: 40px;margin: 0;padding: 0;font-weight: bold;}
.right_menubar{float: right;text-align: right;z-index: 9;width:50%;}
ul#menu{
  height:3em;
 margin:0;padding:0;
  color:#eee;
}
ul#menu > li{
 display: inline-block;
  list-style-type:none;
  position:relative; background:#4CAF50; box-shadow: inset 0 -1px 4px rgba(0,0,0,.5), inset 0 1px 4px hsla(0,0%,100%,.8);
  width: 160px;
    text-align: center;
}
#menu label{
  position:relative;
  display:block;
  padding:0 18px 0 12px;
  line-height:3em;font-size: 16px;
  transition:background 0.3s;    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
  cursor:pointer;margin-bottom: 0px;font-weight: 400;
}
#menu label:after{
  content:"";
  position:absolute;
  display:block;
  top:50%;
  right:5px;
  width:0;
  height:0;
  border-top:4px solid rgba(255,255,255,.5);
  border-bottom:0 solid rgba(255,255,255,.5);
  border-left:4px solid transparent;
  border-right:4px solid transparent;
  transition:border-bottom .1s, border-top .1s .1s;
  }
#menu label:hover,
#menu input:checked ~ label{/*background:rgba(0,0,0,.3);*/}
#menu input:checked ~ label:after{
  border-top:0 solid rgba(255,255,255,.5);
  border-bottom:4px solid rgba(255,255,255,.5);
  transition:border-top .1s, border-bottom .1s .1s;
}
#menu input{display:none}
#menu input:checked ~ ul.submenu{
  max-height:300px;
  transition:max-height 0.5s ease-in;
}
#menu ul.submenu{
  max-height:0;
  padding:0;
  overflow:hidden;
  list-style-type:none;
  background:#eee;
  border-bottom: 1px solid #bbb;
  transition:max-height 0.5s ease-out;
  position:absolute;    color: #4b4b4b;
  min-width:100%;
}
#menu ul.submenu li a{
  display:block;
  padding:12px;
  color:#333;
  text-decoration:none;
  border-bottom: 1px solid #ddd;
  transition:background .3s;
  white-space:nowrap;font-style: italic;
    text-align: left;
}

#menu ul.submenu li a:hover{
  background:rgba(0,0,0,.3);
  color:#fff;
}
.fbla-slider img{width:100%;height:auto;}
.footer{background:#385D99;height:50px; text-align: center;}
.footer p{color:#fff;line-height: 50px;}


/*homepage------------------------------*/

@media only screen and (max-width: 600px) {
 .login-box1{display: none!important;}
 .login-box{margin:0!important;}
 .left{float:left;}
 .table{display: block;
    overflow-y: scroll;}
  .login-box2, .login-box3,.admin_signup{ display: none; }
  .admin-box{margin-left:0px!important;margin-top:0px!important;}
}


@media only screen and (min-width: 601px) and (max-width: 1200px){
  .login-box1 img{width: 250px!important;display:none;
    height: 250px!important;text-align: right;}
  .login-box1 {
    margin-top: 225px!important;
    text-align: right;}
  .table{display: block;
    overflow-y: scroll;}
    .login-box2 img, .login-box3 img,.admin_signup img{ display: none; }
    .admin-box{margin-left:0px!important;margin-top:0px!important;}
  }



